<div id="<%= dom_id support_team %>">
  <p>
    <strong>Name:</strong>
    <%= support_team.name %>
  </p>

  <p>
    <strong>Role:</strong>
    <%= support_team.role %>
  </p>

  <p>
    <strong>Branch:</strong>
    <%= support_team.branch %>
  </p>

  <p>
    <strong>Phone number:</strong>
    <%= support_team.phone_number %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= support_team.email %>
  </p>

  <p>
    <strong>Image:</strong>
    <%= support_team.image %>
  </p>

</div>
