<div id="<%= dom_id store %>">
 <%= image_tag store.toy_image ,height:"250",width:"240"%> 
<p>
    <strong>Name:</strong>
    <%= store.name %>
  </p>

  <p>
    <strong>Category:</strong>
    <%= store.category %>
  </p>

  <p>
    <strong>Price:</strong>
    <%= store.price %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= store.description %>
  </p>

</div>
