<div id="<%= dom_id bus %>">
  <p>
    <strong>Name:</strong>
    <%= bus.name %>
  </p>

  <p>
    <strong>Source:</strong>
    <%= bus.source %>
  </p>

  <p>
    <strong>Destination:</strong>
    <%= bus.destination %>
  </p>

  <p>
    <strong>Seats:</strong>
    <%= bus.seats %>
  </p>

  <p>
    <strong>Seat type:</strong>
    <%= bus.seat_type %>
  </p>

  <p>
    <strong>Bus type:</strong>
    <%= bus.bus_type %>
  </p>

  <p>
    <strong>Ticket amount:</strong>
    <%= bus.ticket_amount %>
  </p>

  <p>
    <strong>Departure time:</strong>
    <%= bus.departure_time %>
  </p>

  <p>
    <strong>Arrival time:</strong>
    <%= bus.arrival_time %>
  </p>

</div>
